@import './base';
@import './varible';

*{
    font-family: 'Jost', sans-serif;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.fixed-top {
    position: fixed;
    top:40px;
    right: 0;
    left: 0;
    z-index: 1030;
  }
#site-header{
    background-color: $bg-color;
        .container{

            .navbar{
                h1{
                    .navbar-brand{
                        margin: 0;
                        padding: 0;
                        font-size: 34px;
                        font-weight: 600;
                        text-transform: capitalize;
                        color: $primary-color;
                    }
                }
                .navbar-collapse{
                    justify-content: flex-end;
                    .navbar-nav{

                        .nav-item{
                            padding: 0 12px;
                            transition: all 0.5s ease;
                            position: relative;
                            
                           cursor: pointer;
                            
                            .nav-link{
                                text-transform: capitalize;
                                transition: all 0.5s ease;
                                padding: 8px 0;
                                font-size: 1.2em;
                                font-weight: 400;
                                position: relative;
                                color: $heading-color;
                                &::before{
                                    content: " ";
                                    position: absolute;
                                    width: 0%;
                                    height: 1px;
                                    background: $primary-color;
                                    left:0;
                                    bottom: 0;
                                }
                                &:hover::before{
                                    width: 100%;
                                    transition: all 0.5s ease;
                                    
                                }
                                &:hover{
                                    color: $primary-color;
                                }
                            }
                        }

                        
                    }
                }
            }
        }
}

.mode-container {
    width: 24px;
    height: 24px;
    padding: 3px 0;
    margin-left: 20px;
  }
  
  .theme-switch input{
    display: none;
  }
  
  .gg-sun {
    position: relative;
    transform: scale(var(--ggs, 1));
    height: 24px;
    background: linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px -6px/2px 6px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px 14px/2px 6px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat -8px 5px/6px 2px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 14px 5px/6px 2px;
    border-radius: 100px;
    box-shadow: inset 0 0 0 2px;
    border: 6px solid transparent;
  }
  
  .gg-moon {
    overflow: hidden;
    position: relative;
    transform: rotate(-135deg) scale(var(--ggs, 1));
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-bottom: 2px solid transparent;
  }
  
  .gg-moon,
  .gg-moon:after {
    display: block;
    box-sizing: border-box;
    border-radius: 50%;
  }
  
  .gg-moon:after {
    content: "";
    position: absolute;
    width: 12px;
    height: 18px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    top: 8px;
    left: 2px;
  }
  
  .gg-sun,
  .gg-sun:after,
  .gg-sun:before {
    box-sizing: border-box;
    display: block;
    width: 24px;
  }
  
  .gg-sun:after,
  .gg-sun:before {
    content: "";
    position: absolute;
    height: 2px;
    border-right: 4px solid;
    border-left: 4px solid;
    left: -6px;
    top: 5px;
  }
  
  .gg-sun:before {
    transform: rotate(-45deg);
  }
  
  .gg-sun:after {
    transform: rotate(45deg);
  }
  
  .mode-container i.gg-sun {
    display: none;
  }
  
  .mode-container i.gg-moon {
    display: block;
  }
  
  input:checked+.mode-container i.gg-sun {
    display: block;
  }
  
  input:checked+.mode-container i.gg-moon {
    display: none;
  }
  
  /*-- //dark and light mode styling --*/
  button.navbar-toggler .icon-close {
    display: block;
  }
  
  button.navbar-toggler .icon-expand {
    display: none;
  }
  
  button.navbar-toggler.collapsed .icon-close {
    display: none;
  }
  
  button.navbar-toggler.collapsed .icon-expand {
    display: block;
  }
  

  @media screen and (max-width: 768px) {
    .mobile-position{
        position:absolute;
            right:70px;
        }
  }
.breadcrumb{
    margin-top: 90px;
    background-image: url('../image/banner4.jpg ');
    background-position: center center;
    text-align: center;
    padding:50px 0;
    position: relative;
    &::before{
        content:"";
        position: absolute;
        background: rgba(0, 0, 0, 0.501);
        width: 100%;
        top: 0;
        bottom: 0;
      
    }
    
    .container{
        position: relative;
        z-index: 2;
        padding-top: 40px;
        h1{
            font-size: 50px;
            font-weight: 600;
            color: #fff;
        }

        ul{
          display: flex;
          justify-content:center;
          li{
            color: #fff;
            font-size: 18px;
            margin-right: 10px;
           a{
            color: $primary-color;
           }
           i{
            font-size: 15px;
            margin-right: 5px;
           }
          }
        }
    }
}
.about__us{
  
    .container{
        padding: 80px 0;
        display: flex;
        align-items: center;
        .about__us-left{
            flex:1;
            p{
                color: red;
                font-size: 20px;
            }
            h2{
                font-size: 40px;
                font-weight: 600;
                line-height: 48px;
                text-transform: capitalize;
            }
        }
        .about__us-right{
            flex:1;
            p{
                font-size: 18px;
                line-height: 28px;
                color: $font-color;
            }
            a{
                color:$heading-color;
                font-size: 15px;
                font-weight: 600;
                position: relative;
                &::after{
                    content:"";
                    position:absolute;
                    width: 100%;
                    height: 2px;
                    background-color: $primary-color;
                    bottom:-5px;
                    left: 0;
                }
                &:hover{
                    color:$primary-color;
                    transition: all 0.5s; 
                }
            }
        }
    }
}
.history{
    background-image: url(../image/banner2.jpg);
    background-position: center;
    position: relative;
    &::after{
        content:"";
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.537);
    }
    .container{
       position: relative;
       z-index: 2;
       
        .history-wrapper{
            max-width: 640px;
            margin-left: auto;

            .history-title{
                color: red;
            }
            .history-name{
                color: #fff;
            }
            .history-desc{
                color: rgb(178, 176, 176);
                font-size: 18px;
            }
            .history-list{
               ul{
                display: flex;
                padding: 0;
                li{
                    h6{
                        color: #fff;
                        font-size: 20px;
                        font-weight: 700;
                        margin-bottom: 6px;    
                    }
                    p{
                        color: rgb(178, 176, 176); 
                        padding-right: 40px;
                        font-size: 18px;
                    }
                }
               }
            }
        }
    }
}
.feature{
    .container{
        display: flex;
        .feature-left{
            text-align: right;
            margin-right: 30px;
            flex:1;
            .feature-title{
                color: red;
            }
            .feature-name{
                font-weight: 600;
            }
            .feature-desc{
                color: $font-color;
                word-spacing:2px;
            }

            img{
                max-width: 80%;
                border-radius: $border-radius;
            }
        }
        .feature-right{
            flex:1;
            margin-left: 30px;
            .feature-list{
                .feature-list-item{
                    display: flex;
                    margin-bottom: 15px;
                    .logo{
                        i{
                            font-size: 40px;
                            margin-right: 20px;
                            color: $primary-color;
                        }
                    }
                   .content{
                    h5{
                        font-size: 25px;
                        font-weight: 600;
                        color: $heading-color;
                        &:hover{
                            color: $primary-color;
                        }
                    }
                    p{
                        color: $font-color;
                    }
                   } 
                }
            }
        }
    }
}
.our__team{
    background-color: $bg-light;
    .container{
        display: flex;
        flex-direction: column;
        .our__team-title{
            text-align: center;
            margin-bottom: 40px;
            p{
                color:red;
            }
            h1{
               
            }
        }
        .our__team__card{
            text-align: center;
            .our__team-card{
                .img-wrapper{
                    overflow: hidden;
                    img{
                        width: 100%;
                        border-radius:10px;
                        
                        &:hover{
                           transform:scale(1.1);
                           transition: all 0.5s;
                        }
                    }
                }
                
                h2{
                    font-size: 22px;
                    margin-top: 20px;
                    color: $heading-color;
                   }
                   p{
                    color:$font-color ;
                   }
                .icon{
                    display: flex;
                   justify-content:center;
                   div{
                    margin-right: 6px;
                    background-color: $bg-light;
                    color: $primary-color;
                    padding:0 10px;
                    border-radius: 2px;
                    i{
                      font-size: 10px;
                    }
                   }
                   
                }
            }
        }
    }
}
.footer-bg{
     background-color: #000;
     .container{
        width: 100%;
        .row{
            width: 100%;
            .footer-title{
                color: #fff;
                font-size: 20px;
                line-height: 26px;
                font-weight: 600;
                margin-bottom: 25px
            }
            ul{
                padding: 0;
                li{
                    color:$font-color;
                    margin-bottom: 10px;
                    a{
                        color:$font-color;
                        &:hover{
                            color: #fff;
                            border-bottom: 1px solid #fff;
                        }
                    }
                }
            }
            .main-social-footer{
               .social-icons{
                display: flex;
                li{
                    margin-right: 20px;
                    a{
                        color:$font-color;
                        &:hover{
                            color: #fff;
                        }
                    }
                }
               }
            }
        }
        
     }
     .midd-footer{
        border-top: 1px solid rgba(103, 99, 99, 0.14);
           .copy-footer{
            padding: 0;
            margin: 0 !important;
            padding: 40px 0;
            color: $font-color;
            a{
                color:$secondary-color;
            }
           }
        
     }
}