@import './base';
@import './varible';

*{
    font-family: 'Jost', sans-serif;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.header{
    position: fixed;
    width: 100%;
    padding: 20px 0;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
    background-color: $bg-color;
    top: 40px;
    z-index: 100;
    .container {
        @extend .flex;

    .header__left {
       
        font-size: 34px;
        a{
            color: $primary-color;
            font-weight: 600;
        }
    }
    .header__right {
        position: relative;
        @extend .flex;
        &-list ul{
            @extend .flex;
            margin-right: 30px;
            li{
                margin-right: 30px;
                font-size: 18px;
                a{
                    color:$heading-color;
                  
                }
            }
        }
        &-btn{
           
            font-size: 25px;
            position:absolute;
           right: 0;
           top: -3px;  
           i{
            color:$heading-color;
           }
          
          
        }
    }

    }
  
}
.breadcrumb{
    margin-top: 90px;
    background-image: url('../image/banner4.jpg ');
    background-position: center center;
    text-align: center;
    padding:50px 0;
    position: relative;
    &::before{
        content:"";
        position: absolute;
        background: rgba(0, 0, 0, 0.501);
        width: 100%;
        top: 0;
        bottom: 0;
      
    }
    
    .container{
        position: relative;
        z-index: 2;
        padding-top: 40px;
        h1{
            font-size: 50px;
            font-weight: 600;
            color: #fff;
        }

        ul{
          display: flex;
          justify-content:center;
          li{
            color: #fff;
            font-size: 18px;
            margin-right: 10px;
           a{
            color: $primary-color;
           }
           i{
            font-size: 15px;
            margin-right: 5px;
           }
          }
        }
    }
}
.about__us{
  
    .container{
        padding: 80px 0;
        display: flex;
        align-items: center;
        .about__us-left{
            flex:1;
            p{
                color: red;
                font-size: 20px;
            }
            h2{
                font-size: 40px;
                font-weight: 600;
                line-height: 48px;
                text-transform: capitalize;
            }
        }
        .about__us-right{
            flex:1;
            p{
                font-size: 18px;
                line-height: 28px;
                color: $font-color;
            }
            a{
                color:$heading-color;
                font-size: 15px;
                font-weight: 600;
                position: relative;
                &::after{
                    content:"";
                    position:absolute;
                    width: 100%;
                    height: 2px;
                    background-color: $primary-color;
                    bottom:-5px;
                    left: 0;
                }
                &:hover{
                    color:$primary-color;
                    transition: all 0.5s; 
                }
            }
        }
    }
}
.history{
    background-image: url(../image/banner2.jpg);
    background-position: center;
    position: relative;
    &::after{
        content:"";
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.537);
    }
    .container{
       position: relative;
       z-index: 2;
       
        .history-wrapper{
            max-width: 640px;
            margin-left: auto;

            .history-title{
                color: red;
            }
            .history-name{
                color: #fff;
            }
            .history-desc{
                color: rgb(178, 176, 176);
                font-size: 18px;
            }
            .history-list{
               ul{
                display: flex;
                padding: 0;
                li{
                    h6{
                        color: #fff;
                        font-size: 20px;
                        font-weight: 700;
                        margin-bottom: 6px;    
                    }
                    p{
                        color: rgb(178, 176, 176); 
                        padding-right: 40px;
                        font-size: 18px;
                    }
                }
               }
            }
        }
    }
}
.feature{
    .container{
        display: flex;
        .feature-left{
            text-align: right;
            margin-right: 30px;
            flex:1;
            .feature-title{
                color: red;
            }
            .feature-name{
                font-weight: 600;
            }
            .feature-desc{
                color: $font-color;
                word-spacing:2px;
            }

            img{
                max-width: 80%;
                border-radius: $border-radius;
            }
        }
        .feature-right{
            flex:1;
            margin-left: 30px;
            .feature-list{
                .feature-list-item{
                    display: flex;
                    margin-bottom: 15px;
                    .logo{
                        i{
                            font-size: 40px;
                            margin-right: 20px;
                            color: $primary-color;
                        }
                    }
                   .content{
                    h5{
                        font-size: 25px;
                        font-weight: 600;
                        color: $heading-color;
                        &:hover{
                            color: $primary-color;
                        }
                    }
                    p{
                        color: $font-color;
                    }
                   } 
                }
            }
        }
    }
}
.our__team{
    .container{
        display: flex;
        flex-direction: column;
        .our__team-title{
            text-align: center;
            p{
                color:red;
            }
            h1{
               
            }
        }
        .our__team__card{
            text-align: center;
            .our__team-card{
                .img-wrapper{
                    overflow: hidden;
                    img{
                        width: 100%;
                        border-radius:10px;
                        
                        &:hover{
                           transform:scale(1.1);
                           transition: all 0.5s;
                        }
                    }
                }
                
                h2{
                    font-size: 22px;
                    margin-top: 20px;
                    color: $heading-color;
                   }
                   p{
                    color:$font-color ;
                   }
                .icon{
                    display: flex;
                   justify-content:center;
                   div{
                    margin-right: 6px;
                    background-color: $bg-light;
                    color: $primary-color;
                    padding:0 10px;
                    border-radius: 2px;
                    i{
                      font-size: 10px;
                    }
                   }
                   
                }
            }
        }
    }
}